---
layout: default
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  <div class="summary">
    <h2>Nøkkeltall</h2>
    <ul>
      <li>Batch: {% if page.batch %}{{ page.batch }}{% else %}N/A{% endif %}</li>
      <li>Bryggedato: {% if page.brewdate %}{{ page.brewdate | date: "%b %-d, %Y" }}{% else %}N/A{% endif %}</li>
      <li>ABV: {% if page.abv %}{{ page.abv }}%{% else %}N/A{% endif %}</li>
      <li>IBU: {% if page.ibu %}{{ page.ibu }}{% else %}N/A{% endif %}</li>
      <li>Volum: {% if page.volume %}{{ page.volume }}l{% else %}N/A{% endif %}</li>
      <li>Type: {% if page.style %}{{ page.style }}{% else %}N/A{% endif %}</li>
      <li>Gjæring: {% if page.fermentationtime %}{{ page.fermentationtime }} dager på {{ page.fermentationtemp }}C grader{% else %}N/A{% endif %}</li>
      <li>OG: {% if page.og %}{{ page.og }}{% else %}N/A{% endif %}</li>
      <li>FG: {% if page.fg %}{{ page.fg }}{% else %}N/A{% endif %}</li>
    </ul>
  </div>
  {{ content }}
</article>
